@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Garamond|Montserrat|Quicksand|Raleway:200,300,400');

html, body{
    overflow-x: hidden;
}

body{
    /* padding: 25px 200px; */
    margin: 0px;
    background-color: #CFD2E7;
    /* border: 1px solid black; */
}

hr{
    border-top: 1px solid #8494A8;
    border-bottom: 0px;
    margin-top: 5px;
}

h1{
    font-family: "Cormorant Garamond";
    font-size: 190%;
    font-weight: bolder;
    letter-spacing: 2px;
    color:#544D67;
}

h2{
    font-family: "Cormorant Garamond";
    font-size: 160%;
    font-weight: normal;
    font-style: oblique;
    margin-left: 5%;
    color:#615878;
}

p, li, .p {
    font-family: "Raleway";
    font-size: 100%;
    font-weight: lighter;
    list-style: none;
}

li::before{
    content: "⭒";
    font-size:120%;
    padding-right: 5px;
}

a {
    color:#5D8094;
}

/* .container{
    margin: 0 1% 0;
} */

.name{
    font-family: "Abril Fatface";
    font-size: 220%;
    display: block;
    color: #362D3D;
    /* position: relative;
    float: right; */
    margin: 2% 0 -3px 5px;
}

.navbar{
    margin: -20px 0px 0;
    padding: 20px 0px 0;
    width: 100%;
    background-color: #8494A8;
    font-family: "Verdana";
    align-items: baseline;
    /* display: inline-block; */
    /* position: relative; */
    border-radius: 0 0 10px 10px;
}

.nav-links{
    /* display: inline-block;
    position: absolute;
    bottom: 8px;
    right: 10px; */
    position: relative;
    font-family: "Quicksand";
    font-size: 18px;
    margin: 0 5px 5px 0;
}

.nav-links a{
    padding: 8px 5px 0;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    background-size: 100% 160%;
    background-image: linear-gradient(to bottom, #8494A8 50%, #5D8094 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: 1s;
    border-radius: 8px 8px 0 0;
}

.nav-links a:hover{
    color:#A9F2EB;
    background-position: 0 100%;
}

.active{
    background-color: #A9F2EB;
    color: black;
}

.navbar-toggler{
    float: left;
    border: 0;
    padding: 0;
    margin: 15px 10px 0px 0px;
}

.navbar-nav{
    justify-content: end;
    margin-top: -5px;
}

.nav-link{
    display: inline-block;
}

.navbar-collapse{
    position: relative;
    margin-left: -30px;
}

.container .nav {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    margin-top: -10px;
}

.adjust-row{
    margin:10px;
}

.exp{
    background:#B1BDCF;
}

.skills{
    color:#5D8094;
    font-size: 150%;
    margin: 0 20px 0;
}

.img-thumbnail{
    background: #8494A8;
}